<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated OSModel -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="osmodel.presentation.OsmodelModelWizardID"
            name="%_UI_OsmodelModelWizard_label"
            class="osmodel.presentation.OsmodelModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/OsmodelModelFile.gif">
         <description>%_UI_OsmodelModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated OSModel -->
      <editor
            id="osmodel.presentation.OsmodelEditorID"
            name="%_UI_OsmodelEditor_label"
            icon="icons/full/obj16/OsmodelModelFile.gif"
            extensions="osmodel"
            class="osmodel.presentation.OsmodelEditor"
            contributorClass="osmodel.presentation.OsmodelActionBarContributor">
      </editor>
   </extension>

</plugin>
