<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated HadoopStack -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="hadoopmodel.presentation.HadoopmodelModelWizardID"
            name="%_UI_HadoopmodelModelWizard_label"
            class="hadoopmodel.presentation.HadoopmodelModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/HadoopmodelModelFile.gif">
         <description>%_UI_HadoopmodelModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated HadoopStack -->
      <editor
            id="hadoopmodel.presentation.HadoopmodelEditorID"
            name="%_UI_HadoopmodelEditor_label"
            icon="icons/full/obj16/HadoopmodelModelFile.gif"
            extensions="hadoopmodel"
            class="hadoopmodel.presentation.HadoopmodelEditor"
            contributorClass="hadoopmodel.presentation.HadoopmodelActionBarContributor">
      </editor>
   </extension>

</plugin>
